<div id="Contact" class="container">
	<h2>Contact</h2>
		<div class="row">
			<div class="col-md-4">
				<ul class="no-bullets">
					<li>
						<%= link_to(image_tag("facebook.png") + " http://facebook.com/valentino.k.wong", "http://www.facebook.com/valentino.k.wong") %>
					</li>
					<li>
						<%= link_to(image_tag("twitter.png") + " https://twitter.com/Wong_Val", "https://twitter.com/Wong_Val") %> 
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="no-bullets">
					<li>
						<%= link_to(image_tag("instagram.png") + " http://instagram.com/vkw624", "http://www.instagram.com/vkw624") %> 
					</li>
					<li>
						<%= link_to(image_tag("linkedin.png") + " http://lnkd.in/_QYred", "http://lnkd.in/_QYred") %> 
					</li>
				</ul>
			</div>
		</div>
</div>