<div id="Experiences" class="container">
	
	<h2>Experiences</h2>
	
		<h3>Education</h3>

			<div class="experiences">

				<div class="experience row">

					<div class="col-md-3">
						<h4>Georgetown University</h4>
						<p>Aug 2012 - Jun 2013</p>
					</div>

					<div class="col-md-6">
						<h4>Masters of Science - Physiology</h4>
						<p>This one-year program involved an intensive curriculum on the study of the human body. The majority of classes were taken with first-year medical school students and included an in-depth systems based approach to the study of medicine.</p>
					</div>

				</div><!-- #experiences -->
			</div><!-- #experience row -->

			<div class="experiences">

				<div class="experience row">

					<div class="col-md-3">
						<h4>Dartmouth College</h4>
						<p>Sep 2006 - Jun 2010</p>
					</div>

					<div class="col-md-6">
						<h4>Bachelor of Arts - Neuroscience</h4>
						<p>During my time at Dartmouth, I truly embraced the philosophy of a liberal arts education. Here, I continued the to pursue my passion for psychology and understanding human behavior. I also spent a term abroad in Beijing, China. Outside of classes, I was a member of the Kappa Kappa Kappa Fraternity and also served as the President of the Dartmouth Asian Organization.</p>
					</div>

				</div><!-- #experiences -->
			</div><!-- #experience row -->

		<h3>Career</h3>

			<div class="experiences">

				<div class="experience row">

					<div class="col-md-3">
						<h4>HealthyOut</h4>
						<p>Aug 2013 - Sep 2014</p>
					</div>

					<div class="col-md-6">
						<h4>Customer Experience & Operations Manager</h4>
						<p>Working at HealthyOut was my first step into the world of Startups. As someone who is always interested in learning new skills, I've grown to love the rush and excitement of Entrepreneurship. From my experiences this past year, I know that I want to continue building my own skills in order to eventually start my own business.</p>
					</div>

				</div><!-- #experiences -->
			</div><!-- #experience row -->

</div>