<div class="jumbotron">
	<div class="container">
		<h1>Valentino Wong</h1>
		<p>Interactive Resume</p>
	</div>
</div>
		
<div id="Profile" class="container">
	
	<h2>Profile</h2>
	
	<div class="col-md-4">
		<h3>About me</h3>
		<p>I'm an aspiring entrepeneur living in NYC. After experiencing the energy and excitement of working at an early stage health-tech startup, I've since immersed myself in the startup world. I'm currently working on improving my own skills in order to combine my passions for nutrition, fitness, and technology.</p>
	</div>

	<div class="col-md-4">
		<%= image_tag("valentino-headshot.jpg", :alt => "valentino headshot", class:"profile") %>
	</div>

	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br>
			Valentino Wong<br>
			<strong>Age:</strong><br>
			26 years<br>
			<strong>Location:</strong><br>
			New York, NY</p>
	</div>

</div>

<div id="Experiences" class="container">
	<h2>Experiences</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="Skills" class="container">
	<h2>Skills</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="Interests" class="container">
	<h2>Interests</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="Contact" class="container">
	<h2>Contact</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>